*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  font-size: 2rem;
  outline: none;
  border: 1px solid #fff;
  background-color: #ffffff5e;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: #00aaff;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/ -1;
  background: #00000036;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand {
  font-size: 1.5rem;
  color: #ffffffb7;
}

.current-operand {
  font-size: 2.5rem;
  color: #fff;
}
